In [1]:
import pandas as pd
df = pd.read_csv("train_LZdllcl.csv")
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
import statsmodels.formula.api as sfa
from statsmodels.stats.anova import anova_lm
model = sfa.ols("length_of_service~department",data=df).fit()
anova_lm(model)

                 df         sum_sq      mean_sq          F         PR(>F)
department      8.0   15934.057851  1991.757231  111.25326  2.722641e-185
Residual    54799.0  981061.633562    17.902911        NaN            NaN

In [5]:
table = pd.crosstab(df["department"],df["is_promoted"])

In [6]:
from scipy.stats import chi2_contingency
chi2_contingency(table)

(151.4263551632387,
 9.882497107474632e-29,
 8,
 array([[ 4896.1699022 ,   455.8300978 ],
        [ 2320.00875785,   215.99124215],
        [ 2212.05882353,   205.94117647],
        [  950.50831995,    88.49168005],
        [10381.49029339,   966.50970661],
        [ 6530.05619618,   607.94380382],
        [  913.91512188,    85.08487812],
        [15405.73638885,  1434.26361115],
        [ 6530.05619618,   607.94380382]]))

In [7]:
from scipy.stats import ttest_ind
ttest_ind(df["age"],df["length_of_service"])

Ttest_indResult(statistic=772.7167051348191, pvalue=0.0)

In [10]:
table1 = pd.crosstab(df["region"],df["is_promoted"])
chi2_contingency(table1)

(475.6402377579206,
 7.275378205784026e-80,
 33,
 array([[5.58046271e+02, 5.19537294e+01],
        [5.92809809e+02, 5.51901912e+01],
        [1.20300139e+03, 1.11998613e+02],
        [4.57414976e+02, 4.25850241e+01],
        [2.42246971e+03, 2.25530288e+02],
        [7.56564370e+02, 7.04356298e+01],
        [2.56884250e+03, 2.39157495e+02],
        [1.34022588e+03, 1.24774121e+02],
        [7.28204642e+02, 6.77953583e+01],
        [2.83597285e+01, 2.64027149e+00],
        [7.99561378e+02, 7.44386221e+01],
        [1.12917461e+04, 1.05125390e+03],
        [7.77605459e+02, 7.23945409e+01],
        [3.75995110e+02, 3.50048898e+01],
        [5.88052693e+03, 5.47473070e+02],
        [1.07492519e+03, 1.00074807e+02],
        [4.64733616e+02, 4.32663845e+01],
        [7.49245731e+02, 6.97542694e+01],
        [2.06751569e+03, 1.92484309e+02],
        [1.51770289e+03, 1.41297110e+02],
        [1.20574588e+03, 1.12254123e+02],
        [9.09340972e+02, 8.46590279e+01],
        [3.16531163e+02, 2.94688367e+01],
        [6.01043278e+02, 5.59567216e+01],
        [1.77019596e+03, 1.64804043e+02],
        [8.64514304e+02, 8.04856955e+01],
        [2.46089257e+02, 2.29107430e+01],
        [2.67130346e+02, 2.48696541e+01],
        [1.55795541e+03, 1.45044592e+02],
        [7.00759743e+02, 6.52402569e+01],
        [6.31232667e+02, 5.87673332e+01],
        [4.43052146e+03, 4.12478543e+02],
        [5.99213618e+02, 5.57863816e+01],
        [3.84228580e+02, 3.57714202e+01]]))

In [11]:
table2 = pd.crosstab(df["KPIs_met >80%"],df["is_promoted"])
chi2_contingency(table2)

(2689.3220548467057,
 0.0,
 1,
 array([[32492.01539921,  3024.98460079],
        [17647.98460079,  1643.01539921]]))

In [13]:
model = sfa.ols("avg_training_score~is_promoted",data=df).fit()
anova_lm(model)

                  df        sum_sq        mean_sq            F  PR(>F)
is_promoted      1.0  3.215593e+05  321559.318972  1859.426913     0.0
Residual     54806.0  9.477856e+06     172.934637          NaN     NaN

In [14]:
ttest_ind(df["age"],df["avg_training_score"])

Ttest_indResult(statistic=-434.22685957038397, pvalue=0.0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DecisionTreeClassifier(m)